@import "../../index.css";

.sidebar-container {
    background-color: var(--primary-background);
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 5%;
    position: sticky;
    top: 0;
}

.sidebar-container>div {
    width: 100%;
}



.sidebar-search-container {
    padding: 20px 20px 20px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: 600;
}

.sidebar-search-container div {
    border-radius: 50%;
    background: linear-gradient(135deg, var(--gradient-color1), var(--gradient-color2));
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(225, 124, 253, 0.25) 0px 54px 55px,
        rgba(76, 215, 246, 0.12) 0px -12px 30px,
        rgba(76, 215, 246, 0.12) 0px 4px 6px,
        rgba(76, 215, 246, 0.17) 0px 12px 13px,
        rgba(76, 215, 246, 0.09) 0px -3px 5px;

}

.sidebar-search-container svg {
    color: white;
    font-size: 2rem;
}


.sidebar-menus-container {
    display: flex;
    flex-direction: column;
}

.sidebar-menus-container:hover {
    cursor: pointer;
}


.sidebar-link-container {
    all: unset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 15px 15px 15px 40px;
}

.sidebar-link-container svg {
    font-size: 1.5rem;
}


.sidebar-link-selected {
    background-color: var(--primary-background-dark);
    border-right: 4px solid var(--primary-color);
}

.sidebar-link-selected svg {
    color: var(--primary-color);
}