@import "../../index.css";

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 35px 10px 35px;
    border-bottom: 2px solid var(--primary-background);

}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}